@import '../variables/_variables.color.module';
@import '../variables/variables.easing.module';
@import '../mixins/_mixins.font.module';
@import '../mixins/mixins.links.module';

.styles {
  p, span {
    @include paragraph('xxs');
    position: relative;
  }

  p.xs {
    @include paragraph(xs);
  }

  h2 {
    @include heading('xs');
    text-transform: uppercase;
  }

  h3 {
    @include heading('xxs');
  }

  ol {
    margin: 0;
    padding: 0;
    list-style: none;
    counter-reset: double-digit;

    li {
      margin-bottom: 8px;
      counter-increment: double-digit;
    }

    li::before {
      @include paragraph('xxxs');
      margin-right: 8px;
      content: "0" counter(double-digit);
      opacity: .6;
    }
  }

  ul {
    li {
      @include paragraph(xs);
      margin-bottom: 10px;
    }
  }

  hr {
    border: none;
    height: .5px;
    width: 100%;
    background-color: var(--color-link-style-text);
  }
}