@import '../includes.scss';

.styles {
  p, span {
    @include paragraph(xxSmall);
    position: relative;
  }

  p.xSmall {
    @include paragraph(xSmall);
  }

  h2 {
    @include heading(xSmall);
  }

  h3 {
    @include heading(xxSmall);
  }

  ol {
    margin: 0;
    padding: 0;
    list-style: none;
    counter-reset: double-digit;

    li {
      margin-bottom: 8px;
      counter-increment: double-digit;
    }

    li::before {
      @include paragraph(xxxSmall);
      margin-right: 8px;
      content: "0" counter(double-digit);
      opacity: .6;
    }
  }

  ul {
    li {
      @include paragraph(xSmall);
      margin-bottom: 10px;
    }
  }

  hr {
    border: none;
    height: .5px;
    width: 100%;
    background-color: var(--color-link-style-text);
  }
}
