// variables
@import '../variables/variables.breakpoints.module';
@import '../variables/variables.color.module';
@import '../variables/variables.easing.module';
@import '../variables/_variables.spacing.module';

// mixins
@import '../mixins/_mixins.font.module';
@import '../mixins/mixins.links.module';
@import '../mixins/mixins.width.module';

.block {
  display: block;
}

.container {
  // height: 100%;
  width: 100%;
  @media #{mdUp} {
    width: 50vw;
  }
}

.height-100 {
  height: 100%;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.title-xs {
  @include heading('xs');
}

.title-sm {
  @include heading('sm');
}

.title-md {
  @include heading('md');
}

.divide {
  padding-bottom: $padding-lg;
  margin-bottom: $margin-lg;
  border-bottom: .5px solid var(--color-hr);
}

.grid {
  display: grid;

  &--2-col {
    grid-template-columns: 1fr 1fr;
    column-gap: $padding-md;
  }

  &--3-col {
    column-gap: $padding-sm;
    grid-template-columns: 1fr;

    @media #{$mdUp} {
      grid-template-columns: 1fr 1fr 1fr;
    }

    @media #{$smUp} {
      grid-template-columns: 1fr 1fr;
    }
  }
}

.print-visible {
  display: none;

  @media print {
    display: unset;
  }
}

.print-hidden {
  @media print {
    display: none;
  }
}