@import '../includes.scss';

.styles {
  p, span {
    @include paragraph(xxSmall);
    position: relative;
  }

  p.xSmall {
    @include paragraph(xSmall);
  }

  h2 {
    @include heading(xSmall);
  }

  h3 {
    @include heading(xxSmall);
  }

  ul {
    li {
      @include paragraph(xSmall);
      margin-bottom: 10px;
    }
  }

  hr {
    border: none;
    height: .5px;
    width: 100%;
    background-color: var(--color-link-style-text);
  }
}
