// variables
@import '../variables/variables.breakpoints.module';
@import '../variables/variables.color.module';
@import '../variables/variables.easing.module';
@import '../variables/_variables.spacing.module';

// mixins
@import '../mixins/_mixins.font.module';
@import '../mixins/mixins.links.module';
@import '../mixins/mixins.width.module';

.block {
  display: block;
}

.container {
  // height: 100%;
  width: 100%;
  @media #{mdUp} {
    width: 50vw;
  }
}

.height-100 {
  height: 100%;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.title-xs {
  @include heading('xs');
}

.title-sm {
  @include heading('sm');
}

.title-md {
  @include heading('md');
}

.xs-50 {
  @media screen and (min-width: 481px) and (max-width: 768px) {
    @include width(50%, $padding-sm);
  }
}

.sm-25 {
  @media #{$smUp} {
    @include width(25%, $padding-sm);
  }
}

.sm-50 {
  @media #{$smUp} {
    @include width(50%, $padding-sm);
  }
}

.sm-75 {
  @media #{$smUp} {
    @include width(75%, $padding-sm);
  }
}

.sm-100 {
  @media #{$smUp} {
    width: 100%;
  }
}

.md-25 {
  @media #{$mdUp} {
    @include width(25%, $padding-sm);
  }
}

.md-33 {
  @media #{$mdUp} {
    @include width(33%, $padding-sm);
  }
}

.md-75 {
  @media #{$mdUp} {
    @include width(75%, $padding-sm);
  }
}

.divide {
  padding-bottom: $padding-lg;
  margin-bottom: $margin-lg;
  border-bottom: .5px solid var(--color-hr);
}

.flex {
  display: flex;
  flex-wrap: wrap;
  gap: $padding-sm;
}