$sp-0: 30px;
$sp-1: 25px;
$sp-2: 20px;
$sp-3: 15px;
$sp-4: 10px;
$sp-5: 5px;
$sp-6: 50px;
$sp-7: 40px;
$sp-8: 60px;
$sp-9: 75px;

$padding-xxlg: $sp-9;
$padding-xlg: $sp-8;
$padding-lg: $sp-6;
$padding-lg-1: $sp-7;
$padding-md: $sp-0;
$padding-md-1: $sp-1;
$padding-sm: $sp-2;

$margin-lg: $sp-6;
$margin-md: $sp-0;
$margin-md-1: $sp-1;
$margin-sm: $sp-3;
$margin-xs: $sp-4;
$margin-xxs: $sp-5;

:export {
  sp-0: $sp-0;
  sp-1: $sp-1;
  sp-2: $sp-2;

  padding-lg: $padding-lg;
  padding-md: $padding-md;
  padding-md-1: $padding-md-1;
  padding-sm: $padding-sm;

  margin-lg: $margin-lg;
  margin-md-1: $margin-md-1;
}