@use "sass:map";
@import '../functions/functions.ranges';
@import 'node_modules/@sferguson9670/portfolio-design-tokens/dist/design-tokens.scss';

$xSmallRange: (0, map-get($breakpoints, widths, xSmall)) !default;
$smallRange: (map-get($breakpoints, widths, small) + 1, map-get($breakpoints, widths, small)) !default;
$mediumRange: (map-get($breakpoints, widths, medium) + 1, map-get($breakpoints, widths, medium) - 1) !default;
$largeRange: (map-get($breakpoints, widths, large) + 1, map-get($breakpoints, widths, large) - 1) !default;
$xLargeRange: (map-get($breakpoints, widths, large), 999999) !default;

$screen: 'only screen' !default;

$xSmallUp: $screen !default;
$xSmallOnly: "#{$screen} and (max-width: #{upper-bound($xSmallRange)})" !default;

$smallUp: "#{$screen} and (min-width: #{lower-bound($smallRange)})" !default;
$smallOnly: "#{$screen} and (min-width: #{lower-bound($smallRange)}) and (max-width: #{upper-bound($smallRange)})" !default;
$smallMax: "#{$screen} and (max-width: #{upper-bound($smallRange)})" !default;

$mediumUp: "#{$screen} and (min-width: #{lower-bound($mediumRange)})" !default;
$mediumOnly: "#{$screen} and (min-width: #{lower-bound($mediumRange)}) and (max-width: #{upper-bound($mediumRange)})" !default;

$largeUp: "#{$screen} and (min-width: #{lower-bound($largeRange)})" !default;
$largeOnly: "#{$screen} and (min-width: #{lower-bound($largeRange)}) and (max-width: #{upper-bound($largeRange)})" !default;

$xLargeUp: "#{$screen} and (min-width: #{lower-bound($xLargeRange)})" !default;