$darkTeal: #35394d;
$gray: #d5d4d4;
$lightGray: #e9e8e8;
$moss: #9dc4a5;
$offBlack: #222323;
$white: #fff;

:export {
  darkTeal: $darkTeal;
  gray: $gray;
  lightGray: $lightGray;
  moss: $moss;
  offBlack: $offBlack;
  white: $white;
}
