@import '../variables/variables.breakpoints.module';

@mixin grid-columns($xs-col: 1fr, $sm-col: 1fr, $md-col: 1fr 1fr, $lg-col: 1fr 1fr, $xlg-col: 1fr 1fr 1fr, $gap: map-get($spacing, medium)) {
  display: grid;
  grid-template-columns: $xs-col;
  column-gap: $gap;

  @media #{$smallUp} {
    grid-template-columns: $sm-col;
  }

  @media #{$mediumUp} {
    grid-template-columns: $md-col;
  }

  @media #{$largeUp} {
    grid-template-columns: $lg-col;
  }

  @media #{$xLargeUp} {
    grid-template-columns: $xlg-col;
  }
}