@use "sass:map";
@import '~@sferguson9670/portfolio-design-tokens/dist/design-tokens.scss';

@function stripUnit($value) {
  @return $value / ($value * 0 + 1);
}

@function rem($pxValue) {
  @return #{stripUnit($pxValue) / stripUnit(16px)}rem;
}

// fonts
@mixin font($weight: regular) {
  font-family: unquote(map-get($typography, fontFamily, primary, name));
  
  @if ($weight == light) {
    font-weight: map-get($typography, fontFamily, primary, fontWeight, light);    
  }
  @if ($weight == regular) {
    font-weight: map-get($typography, fontFamily, primary, fontWeight, regular);    
  }
  @if ($weight == medium) {
    font-weight: map-get($typography, fontFamily, primary, fontWeight, medium);    
  }
  @if ($weight == bold) {
    font-weight: map-get($typography, fontFamily, primary, fontWeight, bold);    
  }
}

// Font size mixin
@mixin font-size($size) {
  @if $size == xxxSmall {
    font-size: rem(map-get($typography, fontSize, font10, size));
    line-height: rem(map-get($typography, fontSize, font10, lineHeight));
  }
  @else if $size == xxSmall {
    font-size: rem(map-get($typography, fontSize, font14, size));
    line-height: rem(map-get($typography, fontSize, font14, lineHeight));
  }
  @else if $size == xSmall {
    font-size: rem(map-get($typography, fontSize, font16, size));
    line-height: rem(map-get($typography, fontSize, font16, lineHeight));
  }
  @else if $size == small {
    font-size: rem(map-get($typography, fontSize, font18, size));
    line-height: rem(map-get($typography, fontSize, font18, lineHeight));
  }
  @else if $size == medium {
    font-size: rem(map-get($typography, fontSize, font20, size));
    line-height: rem(map-get($typography, fontSize, font20, lineHeight));
  }
  @else if $size == large {
    font-size: rem(map-get($typography, fontSize, font24, size));
    line-height: rem(map-get($typography, fontSize, font24, lineHeight));
  }
  @else if $size == xLarge {
    font-size: rem(map-get($typography, fontSize, font26, size));
    line-height: rem(map-get($typography, fontSize, font26, lineHeight));
  }
  @else if $size == xxLarge {
    font-size: rem(map-get($typography, fontSize, font30, size));
    line-height: rem(map-get($typography, fontSize, font30, lineHeight));
  }
  @else if $size == xxxLarge {
    font-size: rem(map-get($typography, fontSize, font40, size));
    line-height: rem(map-get($typography, fontSize, font40, lineHeight));
  }
  @else if $size == xxxxLarge {
    font-size: rem(map-get($typography, fontSize, font50, size));
    line-height: rem(map-get($typography, fontSize, font50, lineHeight));
  }
}

// heading sizes
@mixin heading($size: medium) {
  @if ($size == xxxSmall) {
    @include font(map-get($headings, xxxSmall, fontWeight));
    @include font-size(xxxSmall);
  }
  @if ($size == xxSmall) {
    @include font(map-get($headings, xxSmall, fontWeight));
    @include font-size(xxSmall);
    margin-bottom: rem(map-get($spacing, xxSmall));
  }
  @if ($size == xSmall) {
    @include font(map-get($headings, xSmall, fontWeight));
    @include font-size(small);
  }
  @if ($size == medium) {
    @include font(map-get($headings, medium, fontWeight));
    @include font-size(medium);
  }
  @if ($size == large) {
    @include font(map-get($headings, large, fontWeight));
    @include font-size(large);
  }
  @if ($size == xLarge) {
    @include font(map-get($headings, xLarge, fontWeight));
    @include font-size(xLarge);
  }
}

// paragraph sizes
@mixin paragraph($size: medium) {
  @if ($size == xxxSmall) {
    @include font(map-get($paragraphs, xxxSmall, fontWeight));
    @include font-size(xxxSmall);
  }
  @if ($size == xxSmall) {
    @include font(map-get($paragraphs, xxSmall, fontWeight));
    @include font-size(xxSmall);
  }
  @if ($size == xSmall) {
    @include font(map-get($paragraphs, xSmall, fontWeight));
    @include font-size(xSmall);
  }
  @if ($size == medium) {
    @include font(map-get($paragraphs, medium, fontWeight));
    @include font-size(medium);
  }
}
