@import '../includes';

.container {
  width: 100%;
}

.small {
  @media #{$smallUp} {
    width: 50vw;
  }
}

.large {
  @media #{$smallUp} {
    width: calc(100vw - 200px);
  }
}

.content {
  position: relative;
  padding: map-get($spacing, xLarge) map-get($spacing, medium) map-get($spacing, xXLarge);
  background-color: var(--color-background-translucent);
  transition: background-color var(--timing-background) ease-in-out;
  z-index: var(--z-index-background-0);

  p {
    margin-top: map-get($spacing, small);
  }
}

.background-image {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: none;
  min-height: calc(100% + 100px);
  min-width: 100vw;
  animation: bg-animation 30s forwards;
  transform: translate(-50%, -50%);
  z-index: var(--z-index-background-1);

  @media #{$smallUp} {
    animation: none;
  }
}

@keyframes bg-animation {
  0% {
    left: 50%;
  }
  100% {
    left: 0;
  }
}
