.spotlight {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  animation: breathing 3000ms infinite;
  background-image: radial-gradient(
    circle,
    transparent 2%,
    rgba(0, 0, 0, .3) 100%
  );
  z-index: var(--z-index-background-1);
}

@keyframes breathing {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}