// variables
@import '../variables/variables.easing.module';
@import '../variables/variables.breakpoints.module';
@import '../variables/variables.color.module';
@import '../variables/variables.spacing.module';

// mixins
@import '../mixins/_mixins.font.module.scss';
@import '../mixins/mixins.icons.module';
@import '../mixins/mixins.links.module';

.box {
  position: relative;
  width: 100%;
  padding: $padding-md;
  align-items: center;
  background-color: var(--color-background-translucent);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  transition: background-color var(--timing-background) $easeInOut;
  z-index: var(--z-index-background-0);

  @media #{$smUp} {
    width: 50vw;
  }

  @media #{$mdUp} {
    width: 30vw;
  }

  > * {
    width: 100%;
  }

  a {
    @include underline;
  }
}

.container {
  height: 100%;
  display: flex;
  gap: 25px;
  flex-direction: column;
  justify-content: center;
}

.title {
  position: relative;
  height: 35px;

  a  {
    @include font-30();
    @include font('md');
    position: absolute;
    top: 0;
    transition: top var(--timing-background) $easeInOut;
  
    &:hover {
      top: -5px;
      animation: none;
    }
  
    &::before, &::after {
      content: none;
    }
  }
}