@import '../includes';
@import 'Menu/MenuHome.module.scss';
@import 'Menu/MenuInterior.module.scss';

.dark-mode {
  &:disabled::after {
    @include flashlight-off;
  }

  &:hover::after {
    @media (hover: hover) {
      @include flashlight-off;
    }
  }
}

.light-mode {
  background-size: contain;
  color: white;

  &:hover::after {
    @media (hover: hover) {
      @include flashlight-on;
    }
  }
}

.light-mode, .dark-mode {
  @include paragraph(xxSmall);
  position: relative;
  padding: 0;
  border: none;
  background-color: transparent;
  transition: padding var(--timing-forefront) ease-out;
  z-index: var(--z-index-foreground-0);

  &:hover {
    @media (hover: hover) {
      animation: .75s ease-out 100ms forwards light-dark-mode-button;
      cursor: pointer;

      &:disabled {
        cursor: default;
      }

      &::after {
        animation: .75s ease-out 100ms forwards light-dark-mode-icon;
      }
    }
  }

  &:disabled {
    padding: 0 map-get($spacing, xSmall) 0 0;
    pointer-events: none;

    &::after {
      right: 0;
      opacity: 1;
    }
  }

  &::after {
    position: absolute;
    top: -1px;
    height: 22px;
    width: 10px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 100% 100%;
    content: '';
    opacity: 0;
    transition: right var(--timing-forefront) ease-out, opacity var(--timing-forefront) ease-out, background-position var(--timing-forefront) ease-out;
  }
}

@keyframes light-dark-mode-button {
  0% {
    padding-right: 0;
  }
  50% {
    padding-right: map-get($spacing, xSmall);
  }
  100% {
    padding-right: map-get($spacing, xSmall);
  }
}

@keyframes light-dark-mode-icon {
  0% {
    right: -10px;
    background-position: 130% 100%;
    opacity: 0;
  }
  50% {
    right: 0;
    background-position: 100% 100%;
    opacity: .25;
  }
  100% {
    right: 0;
    background-position: 100% 100%;
    opacity: .35;
  }
}
