// variables
@import '../variables/variables.easing.module';
@import '../variables/variables.breakpoints.module';
@import '../variables/variables.color.module';
@import '../variables/variables.spacing.module';

// mixins
@import '../mixins/_mixins.font.module.scss';
@import '../mixins/mixins.icons.module';
@import '../mixins/mixins.links.module';

.box {
  position: relative;
  width: 100%;
  padding: $padding-md;
  align-items: center;
  background-color: var(--color-background-translucent);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  transition: background-color var(--timing-background) $easeInOut;
  z-index: var(--z-index-background-0);

  @media #{$smUp} {
    width: 50vw;
  }

  @media #{$mdUp} {
    width: 30vw;
  }

  > * {
    width: 100%;
  }

  a {
    @include underline;
  }
}

.container {
  height: 100%;
  display: flex;
  gap: 25px;
  flex-direction: column;
  justify-content: center;
}

.li-absolute {
  position: fixed;
  right: calc($margin-md + $padding-md);
  bottom: calc($margin-md + $padding-md);
  color: $white;

  @media #{$smUp} {
    right: calc($margin-lg + $padding-lg);
    bottom: calc($margin-lg + $padding-lg);

    .interior & {
      bottom: 0;
    }
  }

  a, &::before {
    .home & {
      color: var(--color-nav-text-primary);
    }

    .interior & {
     color: var(--color-text-primary);
    }
  }

  &-top {
    bottom: calc($margin-md + $padding-md + 40px);

    @media #{$smUp} {
      bottom: calc($margin-lg + $padding-lg + 40px);

      .interior & {
        right: 230px;
      }
    }

    a {
      [data-theme='light'] .interior & {
        @include underline();
      }
    }
  }
}

.light-mode, .dark-mode {
  @include paragraph('xxs');
  position: relative;
  padding: 0;
  border: none;
  background-color: transparent;
  transition: padding var(--timing-forefront) $easeOut;
  z-index: var(--z-index-foreground-0);

  &:hover {
    animation: .75s $easeOut 100ms forwards light-dark-mode-button;
    cursor: pointer;
  
    &:disabled {
      cursor: default;
    }

    &::after {
      animation: .75s $easeOut 100ms forwards light-dark-mode-icon;
    }
  }

  &:disabled {
    padding: 0 15px 0 0;
    pointer-events: none;

    &::after {
      right: 0;
      opacity: 1;
    }
  }

  &::after {
    position: absolute;
    top: -1px;
    height: 22px;
    width: 10px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 100% 100%;
    content: '';
    opacity: 0;
    transition: right var(--timing-forefront) $easeOut, opacity var(--timing-forefront) $easeOut, background-position var(--timing-forefront) $easeOut;
  }
}

.light-mode {
  background-size: contain;
  color: $white;

  .home & {
    color: $white;
  }

  .interior & {
    color: var(--color-theme-interior-text);
  }

  &:disabled {
    &::after {
      .home & {
        @include flashlight-on;
      }

      .interior & {
        @include flashlight-on(black);
      }
    }
  }

  &:hover {
    &::after {
      @include flashlight-on;
    }
  }
}

.dark-mode {
  .home & {
    color: $offBlack;
    font-weight: 600;
  }

  .interior & {
    color: var(--color-theme-interior-text);
  }

  &:disabled {
    &::after {
      @include flashlight-off;

      [data-theme='dark'] .interior & {
        @include flashlight-off(white);
      }

      [data-theme='light'] .interior & {
        @include flashlight-off();
      }
    }
  }

  &:hover {
    &::after {
      @include flashlight-off;

      .interior & {
        @include flashlight-off(--var(--color-icon-interior));
      }
    }
  }
}

.nav {
  width: 25%;

  ul {
    padding: 0;
    list-style: none;
  }
}

.title {
  position: relative;
  height: 35px;

  a  {
    @include font-30();
    @include font('md');
    position: absolute;
    top: 0;
    transition: top var(--timing-background) $easeInOut;
  
    &:hover {
      top: -5px;
      animation: none;
    }
  
    &::before, &::after {
      content: none;
    }
  }
}

@keyframes light-dark-mode-button {
  0% {
    padding-right: 0;
  }
  50% {
    padding-right: 15px;
  }
  100% {
    padding-right: 15px;
  }
}

@keyframes light-dark-mode-icon {
  0% {
    right: -10px;
    background-position: 130% 100%;
    opacity: 0;
  }
  50% {
    right: 0;
    background-position: 100% 100%;
    opacity: .25;
  }
  100% {
    right: 0;
    background-position: 100% 100%;
    opacity: .35;
  }
}
