@import '../includes';

@mixin container($multiply: 2) {
  position: relative;
  height: calc(100vh - 75px);
  width: calc(100vw - 75px);
  padding: 15px;
  margin: calc(75px / 2);
  animation: 9s ease infinite gradient;
  background: linear-gradient(45deg, #35394d, #4f838c, #5ab3b5, #9dc4a5);
  background-size: 200% 200%;
  color: var(--color-text-primary);
  font-family: 'Raleway', sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;
  transition: color var(--timing-forefront) ease-in-out, background-color var(--timing-forefront) ease-in-out;

  @media #{$smallUp} {
    height: calc(100vh - 150px);
    width: calc(100vw - (50px * $multiply));
    margin: 50px;
    padding: 50px;
  }

  @media print {
    height: 100%;
    background: $gray;
    overflow-x: scroll;
    animation: unset;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-page-enter {
  @include container;
  opacity: 1;
  transition: opacity var(--timing-background) ease-in-out;
}

.animate-page-exit {
  @include container(4);
  opacity: 0;
  transition: opacity var(--timing-background) ease-in-out;
}
