@import '../variables/variables.breakpoints.module';
@import '../variables/variables.color.module';
@import '../variables/variables.easing.module';
@import '../variables/_variables.spacing.module';

.container {
  width: 100%;
//  padding: $padding-md;
}

.small {
  @media #{$smUp} {
    width: 50vw;
  }
}

.large {
  @media #{$smUp} {
    width: calc(100vw - ($padding-md-1 * 8));
  }
}

.content {
  position: relative;
  padding: $padding-lg-1 $padding-md $padding-xlg;
  background-color: var(--color-background-translucent);
  transition: background-color var(--timing-background) $easeInOut;
  z-index: var(--z-index-background-0);

  p {
    margin-top: $margin-sm;
  }
}

.background-image {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: none;
  min-height: calc(100% + 100px);
  min-width: 100vw;
  animation: bg-animation 30s forwards;
  transform: translate(-50%, -50%);
  z-index: var(--z-index-background-1);

  @media #{$smUp} {
    animation: none;
  }
}

@keyframes bg-animation {
  0% {
    left: 50%;
  }
  100% {
    left: 0;
  }
}