// variables
@import 'variables/variables.easing.module';
@import '../styles/variables/variables.breakpoints.module';
@import 'variables/variables.color.module';
@import 'variables/variables.spacing.module';

// mixins
@import '../styles/mixins/_mixins.font.module.scss';
@import '../styles/mixins/mixins.icons.module';
@import '../styles/mixins/mixins.links.module';

.box {
  position: relative;
  width: 100%;
  padding: $padding-md;
  align-items: center;
  background-color: var(--color-background-translucent);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  transition: background-color var(--timing-background) $easeInOut;
  z-index: var(--z-index-background-0);

  @media #{$smUp} {
    width: 50vw;
  }

  @media #{$mdUp} {
    width: 30vw;
  }

  > * {
    width: 100%;
  }

  a {
    @include underline;
  }
}

.container {
  height: 100%;
  display: flex;
  gap: 25px;
  flex-direction: column;
  justify-content: center;
}

.li-absolute {
  position: fixed;
  right: calc($margin-md + $padding-md);
  bottom: calc($margin-md + $padding-md);
  color: $white;

  @media #{$smUp} {
    right: calc($margin-lg + $padding-lg);
    bottom: calc($margin-lg + $padding-lg);
  }

  a, li::before {
    color: $white;
  }

  &-top {
    bottom: calc($margin-md + $padding-md + 40px);

    @media #{$smUp} {
      bottom: calc($margin-lg + $padding-lg + 40px);
    }
  }
}

.light-mode, .dark-mode {
  @include paragraph('xxs');
  position: relative;
  padding: 0;
  border: none;
  background-color: transparent;
  transition: padding var(--timing-forefront) $easeOut;
  z-index: var(--z-index-foreground-0);

  &:hover {
    animation: .75s $easeOut 100ms forwards light-dark-mode-button;
    cursor: pointer;
  
    &:disabled {
      cursor: default;
    }

    &::after {
      animation: .75s $easeOut 100ms forwards light-dark-mode-icon;
    }
  }

  &:disabled {
    padding: 0 15px 0 0;
    pointer-events: none;

    &::after {
      right: 0;
      opacity: 1;
    }
  }

  &::after {
    position: absolute;
    top: -1px;
    height: 22px;
    width: 10px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 100% 100%;
    content: '';
    opacity: 0;
    transition: right var(--timing-forefront) $easeOut, opacity var(--timing-forefront) $easeOut, background-position var(--timing-forefront) $easeOut;
  }
}

.light-mode {
  background-size: contain;
  color: $white;

  &:disabled {
    &::after {
      @include flashlight-on;
    }
  }

  &:hover {
    &::after {
      @include flashlight-on;
    }
  }
}

.dark-mode {
  color: $offBlack;
  font-weight: 600;

  &:disabled {
    &::after {
      @include flashlight-off;
    }
  }

  &:hover {
    &::after {
      @include flashlight-off;
    }
  }
}

.nav {
  width: 25%;

  ul {
    padding: 0;
    list-style: none;
  }
}

.pseudo-bg::before {
  position: fixed;
  right: calc($margin-md + $padding-md - ($padding-md / 2));
  bottom: calc($margin-md + $padding-md - ($padding-md / 2) - 15px);
  height: 150px;
  width: 150px;
  background-color: rgb(53, 57, 77, .65);
  border-radius: 100%;
  content: '';

  @media #{$smUp} {
    right: calc(($margin-lg + $padding-lg) - ($padding-lg / 2));
    bottom: calc(($margin-lg + $padding-lg) - ($padding-lg / 2) - 10px);
  }
}

.title {
  @include font-30();
  @include font('md');
  margin-bottom: 5px;
}

@keyframes light-dark-mode-button {
  0% {
    padding-right: 0;
  }
  50% {
    padding-right: 15px;
  }
  100% {
    padding-right: 15px;
  }
}

@keyframes light-dark-mode-icon {
  0% {
    right: -10px;
    background-position: 130% 100%;
    opacity: 0;
  }
  50% {
    right: 0;
    background-position: 100% 100%;
    opacity: .25;
  }
  100% {
    right: 0;
    background-position: 100% 100%;
    opacity: .35;
  }
}
